*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    height: 60px;
    background-color: green;
    display: grid;
    place-items: center;
    
}
#container-nav{
display: flex;
min-width: 500px;
width: 70%;
max-width: 1000px;
height: 80%;
}
.itens{
flex: 1;
height: 100%;

}
.itens span{
    display: block;
    cursor: pointer;
    height: 100%;
    width: 60px;
    display: grid;
    place-items: center;
    color: rgba(255, 253, 253, 0.747);
}
#container-op{
    display: flex;
    height: 0px;
    transition: height 0.85s ease;
}
#container-op.altura{
    height: 50px;
}
.itens-op{
    flex: 1;
    display: grid;
    place-items: center;
    background-color: rgb(1, 83, 1);
    color: white;
    cursor:pointer;
}

#container{
padding-left: 25px;
margin: 0 auto;
margin-top: 40px;
min-width: 500px;
width: 70%;
max-width: 1000px;
}
#container-form{
    margin-top: 25px;
    display: flex;
    gap:2%;
}
.itens-form{
    width: 80px;
    color: #495057;
height: 40px;
padding: 6px 12px;
font-size: 15px;
border: none;
border-radius: 5px;
border: 1px solid  rgba(139, 134, 134, 0.616);
}
.itens-form:focus{
    border-color: blue !important;
    box-shadow: 0px 0px 0px 2px rgba(63, 63, 209, 0.562) !important;
    outline: none;
}

#botao button{
    margin-top: 15px;
    display: block;
    width: 100%;
    background-color: green;
    border-radius: 5px;
    font-size: 40px;
    display: grid;
    place-items: center;
    border: none;
    color: white;
    height: 30px;
    line-height: 20px;
    
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    background-color: #007bff;
    color: white; 
}

th, td {
    border: 1px solid #ddd; 
    padding: 8px;
    text-align: left; 
}

th {
    font-weight: bold; 
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #ddd; 
}

button {
    background-color: red; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    padding: 5px 10px; 
    cursor: pointer; 
    font-size: 14px; 
}

button:hover {
    background-color: #cc0000;
}
